<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/groceries.css">
    <link rel="stylesheet" href="/css/components/modal.css">
    <title>Groceries List</title>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="header-buttons">
          <a href="myList.html" class="link">My List</a>
          <h1 class="page-title">THIS IS THE LIST OF GROCERIES</h1>
          <a href="#modal-1" class="btn" id="show-btn">ADD GROCERY</a>
        </div>
      </header>
      <div id="all-groceries-list">
        <ul id="categories-list">
          <%
          const categoriesMap = groceries.reduce( (acc, grocery) => {
            const categoryKey = grocery.category;
            if(!acc[categoryKey]) {
              acc[categoryKey] = [];
            }
            acc[categoryKey].push(grocery);

            return acc;
          }, {});
          %>

          <% for( let category in categoriesMap ) { %>
            <li class = "category-element" data-name="<%= category %>">
              <div class="category-header">
                <h3 class="category-title"><%= category %></h3>
                <div class="category-button">⌵</div>
              </div>
              <ul class="groceries-list">
                <% categoriesMap[category].forEach (grocery => { %>
                  <li class="grocery-element
                    <%= grocery.to_be_bought ? 'to-be-bought' : '' %>
                    "
                    data-id="<%= grocery.id %>"
                    data-name="<%= grocery.name %>"
                    data-category="<%= grocery.category %>"
                    data-to-be-bought="<%= grocery.to_be_bought %>"
                  >
                    <%= grocery.name %>
                  </li>
                <% }) %>
              </ul>
            </li>
          <% } %>
        </ul>
      </div>

      <button id="update-button">UPDATE LIST</button>
      <button id="test-button">TEST</button>

      <footer>
        <div id="log-container"></div>
      </footer>

      <!--MODAL-->
      <div class="modal" id="modal-1">
        <div class="modal-content" id="modal-content-1">
          <form class="modal-form" id="add-item-form" novalidate>
            <div class="modal-header">
              <h3>ADD A GROCERY</h3>
              <a href="#" class="btn" id="cl-btn">X</a>
            </div>

            <div class="modal-body">
              <div>
                <input class="input-field"
                      type="text"
                      placeholder="Enter grocery name"
                      id="new-item-name"
                      required>
                <span class="validation"></span>
              </div>

              <hr>

              <div>
                <select id="category-selector">
                  <option value="" disabled selected>Select category</option>
                  <% const categoriesIdMap = groceries.reduce( (acc, grocery) => {
                    const categoryName = grocery.category;
                    const categoryId = grocery.category_id;
                    if(!acc[categoryName]) {
                      acc[categoryName] = categoryId;
                    }
                    return acc;
                  }, {} ); %>
                  <% for( let category in categoriesIdMap ) { %>
                    <option value="<%= category %>"
                          data-id="<%= categoriesIdMap[category] %>"
                    >
                      <%= category %>
                    </option>
                  <% } %>
                  <option value="custom">***ajouter***</option>
                </select>
                <input class="input-field"
                id="custom-category-input"
                type="text" >
                <span class="validation"></span>
              </div>
            </div>

            <div class="modal-footer">
              <span id="validation-feedback"></span>
              <button type="submit" class="btn" id="val-btn">AJOUTER</button>
            </div>
          </form>
        </div>
      </div>
      <!--/MODAL-->
    </div>

    <script src="js/groceries.js"></script>
    <script src="js/logging_tool.js"></script>
    <script src="js/modal_form.js"></script>
    <script src="js/modal_helpers.js"></script>
    <script src="js/api_calls.js"></script>
    <script src="js/ui_updates.js"></script>
    <script src="js/events.js"></script>
  </body>
</html>
